.primaryButton {
  @apply bg-primaryColor rounded-md p-2 font-inter font-normal text-[4vw] lg:text-[1vw] text-white;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
